<% if @game.players.empty? %>
    <p>No Players!</p>
<% else %>
    <% @game.players.each do |player| %>
		<h3> <%= player.name %> </h3>
		<li> money: <%= player.money %> </li>
		<%= form_tag change_path ({:id => player.id}) do %>
			<div>
				<%= text_field_tag 'amount',nil, placeholder: "amount" %>
			</div>
			<div>
				<%= submit_tag "+", :name => "+" %>
				<%= submit_tag "-", :name =>  "-"%>
			</div>		
		<% end %>
		<%= @text%>
    <% end %>
<% end %>


<br>
<br>
<%= link_to "New Player", new_game_player_path(@game) %>