<div class='signinbubble'>
	<div class='pagetitle' style='text-align:center;'>Create New Player</div>
	<%= simple_form_for [@game, @player] do |f| %>
		<div class="form-group">
	  		<%= f.text_field :name, class: 'field', placeholder: 'Name', :label => "" %>
	  	</div>
	  	<div class="form-group" style='color:white; text-align:center;'>
	  		<%= f.collection_radio_buttons :color, [['red','Red '],['orange','Orange '],['#ffdd42','Yellow '],['green','Green '],['lightgreen','Light Green '],['lightblue', 'Light Blue '],['blue',' Blue '],['indigo','Indigo '],['purple','Purple '],['pink','Pink ']], :first, :last %>
	  	</div>
	  	<div class="form-group">
	  		<%= f.text_field :token, class: 'field', placeholder: 'Token', :label => "" %>
	  	</div>
	  <%= f.submit 'Create Player', class: 'clicky'%>
	<% end %>
	</div>
</div>