<!DOCTYPE html>
<html>
<head>
  <title> GameMoneyTracker </title>
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <% if notice %>
    <p class="notice" ><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert"><%= alert %></p>
  <% end %>

<div class="wrapper">
  <header class="header">
    <h1 class='button'> <%= link_to "Game Money Tracker", root_path, class: 'title' %> </h1>
      <% if user_signed_in? %>
        <div><%= link_to 'Log Out', destroy_user_session_path, class: 'rightbutton', :method=>'delete' %></div>
      <div><%= link_to 'Edit User', edit_user_registration_path, class: 'rightbutton' %></div>
      <% end %>
      <div><%= link_to 'About', home_about_path, class: 'rightbutton'%></div>
  </header>
</div>

<br>

<%= yield %>

</body>
</html>